<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Title for me</h3>
      <button class="btn btn-primary" (click)="onChangeFirst()">On change first</button>
      <button class="btn btn-danger" (click)="onDestroyFirst()">Destroy component</button>
      <app-cockpit (serverCreated)="onServerAdded($event)" (blueprintCreated)="onBlueprintAdded($event)"></app-cockpit>
      <app-server-element *ngFor="let serverElem of serverElements" [element]="serverElem" [name]="serverElem.name">
          <strong style="color:red" *ngIf="serverElem.type === 'server'">{{ serverElem.content }}</strong>
          <em style="color:blue" *ngIf="serverElem.type === 'blueprint'">{{ serverElem.content }}</em>
      </app-server-element>
    </div>
  </div>
</div>

